@media only screen and (min-width: 690px) {
    #container {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    #overview-header {
        height: 150px;
        margin-bottom: 50px;
    }

    #overview-headline {
        font-size: 32px;
        line-height: 150px;
    }
}


@media only screen and (min-width: 1100px) {
    #container {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    #overview-header {
        height: 150px;
        margin-bottom: 75px;
    }

    #overview-headline {
        font-size: 32px;
        line-height: 150px;
    }
}


@media only screen and (min-width: 1450px) {
    #container {
        margin-left: 100px;
        margin-right: 100px;
    }
}


@media only screen and (min-width: 2000px) {
    #container {
        margin: 220px;
    }
}