@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Lobster&display=swap");

:root {
  --primary-orange: #fe6532;
  --primary-darkblue: #02195a;
  --primary-lightblue: #b0dafe;
}

* {
  margin: 0;
  /* box-sizing: border-box; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.active-popup {
  overflow: hidden;
}

.with-gutter {
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (min-width: 1024px) {
  .with-gutter {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .with-gutter {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.weekday-link {
  cursor: default;
}
